/*
* @Name : index.css
* @Version : 0.0.1
* @Programmer : Hylan Silva
* @Date : 2022-11-07
*/

@media screen and ( min-width: 471px){
    header{
        display: none;
    }
    
    main{
        display: none;
    }
    footer{
        font-size: 200px;
    }
}

@media screen and (max-width: 470px) {
    body{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #000000;
        color: white;
        width: 100vw;
        height: 100vh;
        gap: 60px;
    }
     /* TRABALHANDO O FORMS DE LOGIN */
    header .logo{
        height: 300px;
    }
    .login-input{
        border: none;
        margin: .5rem 0;
        padding: 0 .8125rem;
        width: 18.125rem;
        height: 2.3rem;
        border-radius: .625rem;
        background-color: #000000;
        border: 1px solid white;
    }   

    .input-wrapper{
        margin: .9375rem 0 .9375rem -10rem;
        font-size: .8125rem;
        justify-content: center;
        text-align: center;
        display: flex;
        align-items:center ;
    }

    
    /* Trabalhando com o Switch */
    .switch{
        position: relative;
        width: 2.5rem;
        height: 1.3rem;
        margin-right: .625rem;
    }
    .switch input{
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.979);
        transition: 0.4s;
        border-radius: 1.875rem;
    }
    
    .slider:before{
        position: absolute;
        content: "";
        height: 1rem;
        width: 1rem;
        border-radius: 1.25rem;
        left: 0.3rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: #A4161A;
        transition: 0.4s;
    }
    
    input:checked + .slider{
       background-color:  #A4161A;
    }
    
    input:checked + .slider:before{
        left: calc(100% - 1.42rem);

        background-color: #ffffff;
    }
    /* Continuando com o Main Content */
    .btn-login{
        border: none;
        width: 19.75rem;
        height: 2.125rem;
        border-radius: .625rem;
        background-color: #A4161A;
        color: white;
    }

    p.text-bottom{
        margin: .625rem 0 .625rem -0.625rem;
        font-size: .8125rem;

    }
    a.link{
        text-decoration: none;
        color: #E5383B;
    }
    
    p.link-fp{
        color: #E5383B;
    }

/* TRABALHANDO O FORMS DE LOGIN */
    .button-login{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        border: .0156rem solid white;
        border-radius: .625rem;
        width: 21.1875rem;
        height: 2.75rem;
        margin: .75rem 0;
        background-color: #161A1D;
    }

    .go-with{
        color: white;
    }

 /* TRABALHANDO O FOOTER */
    footer{
        display: none;
    }
}



